rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Smart Hybrid Cards Collection
    match /cards/{cardId} {
      // 1. Herkes (Giriş yapmamış ilk yardım ekipleri & acil durum görevlileri dahil)
      // kartın yaşam kurtaran açık sağlık bilgilerini okuyabilir.
      allow read: if true;

      // 2. Sadece kartın sahibi (veya aktivasyon kodunu bilen kullanıcı) yazma/güncelleme yapabilir.
      allow create, update: if request.auth != null || request.resource.data.cardId == cardId;

      // 3. Kart silme yetkisi sadece yetkili kullanıcıya aittir.
      allow delete: if request.auth != null;
    }

    // Encrypted Vault Private Backups
    match /vaults/{vaultId} {
      allow read, write: if request.auth != null && request.auth.uid == vaultId;
    }
  }
}
